services:
  web:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=govdata.settings
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - AWS_STORAGE_BUCKET_NAME=govdata
      - AWS_S3_ENDPOINT_URL=http://minio:9000
    volumes:
      - ./backend/src:/app
    depends_on:
      - db
      - minio
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: govdata
      POSTGRES_USER: govuser
      POSTGRES_PASSWORD: govpass
    ports:
      - "5432:5432"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio-data:/data