{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Case Management System{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/application_form.css' %}">
  <link rel="stylesheet" href="{% static 'css/application_success.css' %}">
  <link rel="stylesheet" href="{% static 'css/applications.css' %}">
</head>
<body>
  <header class="header">
    <h1>Case Management System</h1>
    <nav>
      <ul class="nav">
        <li><a href="/demo/hello">Home</a></li>
        <li><a href="/applications/submit/">Submit</a></li>
        <li><a href="/applications/">View Applications</a></li>
        <li><a href="/admin/">Admin</a></li>
      </ul>
    </nav>
  </header>

  <main class="content">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <p>Powered by Django 🐍 | Running inside Docker 🐳 | Built by RJ Neat 🎲</p>
  </footer>
</body>
</html>
